{% extends 'homebase.html' %}
{% load static %}
{#{% block title %}My Home Page{% endblock %}#}
{#{% block keywords %}My Home Keywords{% endblock %}#}
{#{% block description %}My Home Description{% endblock %}#}



{% load static %}
{% block body %}

<title>RUXSTNOMA</title>


    <div class="container">
        <div class="section">
            <h2>DTM</h2>
            <h2>{{ app.last_name}}</h2>
            <h2>{{ app.first_name }}</h2>
            <h2>{{ app.sure_name }}</h2>
        </div>
    </div>
{% endblock %}