<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/slick.css'%}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css'%}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css'%}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <title>{{ title|default:"" }}</title>

    {% block style_base %}
        {% comment %}
            See DEFAULT_CSS in https://github.com/chrisglass/xhtml2pdf/blob/master/xhtml2pdf/default.py
            for base style.
        {% endcomment %}

        {% block layout_style %}
            <style type="text/css">
                {#@font-face { font-family: Arial; src: url("/home/static/fonts/arial.ttf"); }#}
                @page {
                    size: {{ pagesize|default:"A4" }};
                    margin-left: 2cm;
                    margin-right: 2cm;
                    margin-top: 1cm;
                    margin-bottom: 2cm;

                    @frame header {
                        -pdf-frame-content: page-header;
                        margin-top: 0.7cm;
                        margin-right: 2mm;
                        margin-bottom: 0cm;
                        margin-left: 1.2cm;
                    }

                    @frame footer {
                        -pdf-frame-content: page-footer;
                        bottom: 0cm;
                        margin-left: 1cm;
                        margin-right: 1cm;
                        height: 1cm;
                    }


            </style>
        {%endblock%}
        {% block extra_style %}
{#            <meta http-equiv="content-type" content="text/html; charset=utf-8">#}
        {% endblock %}
    {% endblock %}
</head>
<body>

    <div>
        {%block page_header%}
        {%endblock%}

        {%block content%}
        {%endblock%}
    </div>

    <div id="page-footer">
        {%block page_foot%}
            {% comment %}
                <pdf:pagenumber />
            {% endcomment %}
        {%endblock%}
    </div>
</body>
</html>