{% load static %}
<div class="section section-grey">

</div>
	<div class="section">
		<!-- container -->
		<div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-title">
                        <h2>Ariza yuborish</h2>
                    </div>
                    <div class="text-center">
                        <h3> 2021 yil uchun </h3>
                    </div>
                </div>

                <div class="col-md-7">
                <div class="section-title">
                    <h1>Salom</h1>
                </div>

  <h2>Person Form</h2>
  <form method="post" id="personForm" data-cities-url="{% url 'ajax_load_cities' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>

  </form>


                </div>
            </div>
		</div>
	</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_country").change(function () {
      var url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var countryId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'country': countryId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>