{% load static %}
<header>
		<!-- top Header -->
		<div id="top-header">
			<div class="container">
				<div class="pull-left">
					<span>Tashkent State Agrarian University </span>
				</div>

			</div>
		</div>
		<!-- /top Header -->

		<!-- header -->
		<div id="header">
			<div class="container">
				<div class="pull-left">
					<!-- Logo -->
					<div class="header-logo">
						<a class="logo" href="/">
							<img src="{% static 'img/logo-uz.png'%}" alt="">
						</a>
					</div>
					<!-- /Logo -->

                        <li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                        </li>
						    <!-- / Mobile nav toggle -->


                </div>

			</div>
			<!-- header -->
		</div>
		<!-- container -->
	</header>