{% extends 'homebase.html' %}
{% load static %}
{% block title %}My Home Page{% endblock %}
{% block keywords %}My Home Keywords{% endblock %}
{% block description %}My Home Description{% endblock %}

{% block sidebar %}{% include 'sidebar.html' %} {% endblock %}

{% load crispy_forms_tags %}
{% block body %}
    <div class="container">
        <div class="section">
        <h1 class="section-title">Application</h1>
        {% for bapp in bapps %}

            <a href = {{ bapp.get_absolute_url }}><h3>{{ bapp.last_name }}</h3></a>
        {% endfor %}
        {% for mapp in mapps %}
            <a href = {{ mapp.get_absolute_url }}><h3>{{ mapp.last_name }}</h3></a>
        {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %} {% include 'footer.html' %}{% endblock %}