{% extends 'homebase.html' %}
{% load static %}
{% block title %}My Home Page{% endblock %}
{% block keywords %}My Home Keywords{% endblock %}
{% block description %}My Home Description{% endblock %}

{% block sidebar %}{% include 'sidebar.html' %} {% endblock %}

{% load crispy_forms_tags %}
{% block body %}
    <div class="container">
        <div class="section">
        <h1 class="section-title">Application</h1>
        {% for a in app  %}
            <a href="{{ a.id }}"><h1>{{ a.last_name }}</h1></a>
{#            <a href = {{ a.get_absolute_url }}><h3>{{ a.last_name }}</h3></a>#}
{#            <a href="{% url 'page_pdf' %}">PDF_PAGE</a>#}
        {% endfor %}
        </div>
    </div>
{% endblock %}
{% block footer %} {% include 'footer.html' %}{% endblock %}