{% extends 'homebase.html' %}
{% load static %}
{% block title %}My Home Page{% endblock %}
{% block keywords %}My Home Keywords{% endblock %}
{% block description %}My Home Description{% endblock %}

{% block sidebar %}{% include 'sidebar.html' %} {% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<div class="section section-grey">

</div>
	<div class="section">
		<!-- container -->
		<div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="section-title">
                        <h2>Ariza yuborish</h2>
                    </div>
                    <div class="text-center">
                        <h3> 2021 yil uchun </h3>
                    </div>
                </div>

                <div class="col-md-9">
                <div class="section-title">
                    <h1>Salom</h1>
                </div>
                    <form method="post" enctype="multipart/form-data" class="clearfix" id = 'personForm' data-cities-url="{% url 'ajax_load_cities' %}">
                        {% csrf_token %}
                            <div class="">
                                <h3 class="title">{{ setting.title|safe }}</h3>
                             {% if messages %}
                                 {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message }}
                                    </div>
                                 {% endfor %}
                             {% endif %}
                            </div>

                            <div class="row">
                                  <div class="form-group col-md-12 mb-0">
                                    {{ form.branch_name|as_crispy_field }}
                                  </div>
                                  <div class="form-group col-md-4 mb-0">
                                    {{ form.last_name|as_crispy_field }}
                                  </div>
                                  <div class="form-group col-md-4 mb-0">
                                    {{ form.first_name|as_crispy_field }}
                                  </div>
                                  <div class="form-group col-md-4 mb-0">
                                    {{ form.sure_name|as_crispy_field }}
                                  </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.date_of_birth|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.gender|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.nationality|as_crispy_field }}
                                </div>
                                <div class="form-group col-md-4 mb-0">
                                    {{ form.photo|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form.country|as_crispy_field }}
                                </div>
                                <div class="col-md-4" id ='personForm' data-cities-url="{% url 'ajax_load_cities' %}">
                                    {{ form.region|as_crispy_field }}
                                </div>
                                <div class="col-md-4" id = 'personForm' data-cities-url="{% url 'ajax_load_cities' %}">
                                    {{ form.tuman|as_crispy_field }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.adress|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{ form.pasport|as_crispy_field }}
                                </div>
                                <div class="col-md-8">
                                    {{ form.pasport_image|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    {{ form.name_institution|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.year|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.diplom|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.diplom_photo|as_crispy_field }}
                                </div>
                                <div class="col-md-4">
                                    {{ form.ielts|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    {{ form.phone|as_crispy_field }}
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary">ОТПРАВИТЬ</button>


                    </form>
                </div>
            </div>
		</div>
	</div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            $("#id_region").change(function () {
                const url = $("#personForm").attr("data-cities-url");  // get the url of the `load_cities` view
                const regionId = $(this).val();  // get the selected country ID from the HTML input

                $.ajax({                       // initialize an AJAX request
                    url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
                    data: {
                        'region_id': regionId       // add the country id to the GET parameters
                    },
                    success: function (data) {   // `data` is the return of the `load_cities` view function
                        $("#id_tuman").html(data);  // replace the contents of the city input with the data that came from the server
                        /*
                        let html_data = '<option value="">---------</option>';
                        data.forEach(function (city) {
                            html_data += `<option value="${city.id}">${city.name}</option>`
                        });
                        console.log(html_data);
                        $("#id_city").html(html_data);
                        */
                    }
                });

            });
        </script>


{% endblock %}
{% block footer %} {% include 'footer.html' %}{% endblock %}