{% extends 'base.html' %}
{% load static %}
<meta http-equiv="content-type" content="text/html; charset=utf-8">

        {% block extra_style %}
            <meta http-equiv="content-type" content="text/html; charset=utf-8">
            <style type="text/css">
                @font-face { font-family: Arial; src: url(/home/static/fonts/arial.ttf);}
                body{
                    font-family: Arial, Wingdings, 'sans-serif';
                    color: #2b542c;
                }
            </style>
        {% endblock %}

{#{% block title %}My Home Page{% endblock %}#}
{#{% block keywords %}My Home Keywords{% endblock %}#}
{#{% block description %}My Home Description{% endblock %}#}

{%block page_header%}
    <title>{{ app.last_name }} {{ app.first_name }}</title>
    <div class="header-logo">
        <img src="{% static 'img/logo-uz.png' %}" alt="">
    </div>
    <div class="pull-left">
        <span>Tashkent State Agrarian University </span>
    </div>
    <div class="pull-left">
        <span>{{ app.create_at }}</span>
    </div>
{%endblock%}


<br>
<br>
<br>
{% block content %}

    <div class="container">
        <div class="section">
            <h2 class="section-title">DTM</h2>
            <h2>{{ app.last_name}}</h2>
            <h2>{{ app.first_name }}</h2>
            <h2>{{ app.sure_name }}</h2>
        </div>
    </div>
{% endblock %}