<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEARCH</title>
</head>
<body>
<h1>SEARCH</h1>
{% for a in apps %}
    <a href="{{ a.id }}"><h3>{{ a.last_name }} {{ a.first_name }}</h3></a>
{% endfor %}
</body>
</html>