{% load static %}
{#{% load mptt_tags %}#}

    <div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
                {% if page %}
				<!-- category nav -->
				<div class="category-nav">
                {% else %}
                    <div class="category-nav show-on-click">
                {% endif %}
                    <span class="category-header"> # QABUL <i class="fa fa-list"></i></span>
{#					<ul class="category-list">#}
{#                    {% recursetree faculty %}#}
{#						<li class="dropdown side-dropdown">#}
{#							<a href="/faculty/{{ node.id }}/{{ node.slug }}" class="dropdown-toggle" {% if not node.is_leaf_node %}data-toggle="dropdown" aria-expanded="true"{% endif %}>{{ node.faculty }}<i class="fa fa-angle-right"></i></a>#}
{#							<div class="custom-menu">#}
{#								<div class="row">#}
{#									<div class="col-md-4">#}
{#                                        {% if not node.is_leaf_node %}#}
{#										<ul class="list-links">#}
{#											<li><h3 class="list-links-title">{{node.faculty}}</h3></li>#}
{#											<li><a href="#">{{children}}</a></li>#}
{#                                        </ul>#}
{#                                        {% endif %}#}
{#										<hr class="hidden-md hidden-lg">#}
{#                                    </div>#}
{#								</div>#}
{#							</div>#}
{#						</li>#}
{#                    {% endrecursetree %}#}
{#					</ul>#}
{#                    <ul class="category-list">#}
				    </div>
				<!-- /category nav -->

                <!-- menu nav -->
				<div class="menu-nav">
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
						<li><a href="/">Home</a></li>

                        <li><a href="{% url 'add_bachelor' %}">БАКАЛАВР</a></li>
						<li><a href="{% url 'add_magistr' %}">МАГИСТРАТУРА</a></li>
						<li class="dropdown default-dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Pages <i class="fa fa-caret-down"></i></a>
							<ul class="custom-menu">
								<li><a href="index.html">Home</a></li>
								<li><a href="https://tdau.uz/">TSAU</a></li>
                                <li><a href="http://hemis.tdau.uz/dashboard/login">HEMIS_TEACHER</a></li>
                                <li><a href="http://student.tdau.uz/dashboard/login">HEMIS_STUDENT</a></li>
							    <li><a href="http://moodle.tdau.uz/">MOODLE_TSAU</a></li>
							    <li><a href="http://dl.tdau.uz/">DL_TSAU</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>